In [1]:
#!/usr/bin/python3
# coding: utf-8
# sapporo

In [2]:
import codecs
from datetime import datetime as dt
import datetime
import math
import sys
import json
import numpy as np
import os
import pandas as pd
import plotly
import plotly.express as px
import plotly.tools as tls
import plotly.graph_objects as go
import plotly.io as pio
import plotly.offline as offline
from plotly.subplots import make_subplots
import sys

In [3]:
df = pd.read_csv("csv/susukino.csv")

In [4]:
df

           date  susukino  hokkaido
0     2020/5/12         0       979
1     2020/5/13         0       983
2     2020/5/14         0       989
3     2020/5/15         0       999
4     2020/5/16         0      1006
..          ...       ...       ...
192  2020/11/20       518      6684
193  2020/11/21       534      6918
194  2020/11/22       534      7163
195  2020/11/23       534      7369
196  2020/11/24       543      7585

[197 rows x 3 columns]

In [ ]:
fig = px.area(df, x="date", y="")