In [ ]:
#!/usr/bin/python3
# coding: utf-8
# sapporo

In [2]:
import codecs
from datetime import datetime as dt
import datetime
import math
import sys
from jma_csvdl import save_jma_data, parse_jma_csv
import json
import numpy as np
import os
import pandas as pd
import plotly
import plotly.express as px
import plotly.tools as tls
import plotly.graph_objects as go
import plotly.io as pio
import plotly.offline as offline
from plotly.subplots import make_subplots
import sys
from urllib.request import urlretrieve
from cov19utils import create_basic_plot_figure, \
    show_and_clear, moving_average, \
    blank2zero, csv2array, \
    get_twitter, tweet_with_image, \
    get_gpr_predict, FONT_NAME, DT_OFFSET, \
    download_if_needed, json2nparr, code2int, age2int, \
    get_populations, get_os_idx_of_arr, dump_val_in_arr, \
    calc_last1w2w_dif, create_basic_scatter_figure, \
    show_and_save_plotly

In [ ]:
if False:
    #filename="kanagawa.geojson"
    filename="aomori.geojson"
    f=codecs.open(filename, "rb", encoding='utf-8')
    j=json.load(f)
    f.close()
    f=codecs.open(filename.replace("geojson", "min.geojson"), "wb", encoding='utf-8')
    f.write(json.dumps(j, ensure_ascii=False, separators=(',', ':')))
    f.close()

In [3]:
from air_registance import AirRegistance

In [ ]:
if False:
    ar = AirRegistance()
    Fd = ar.calc(t=10.0, P=1015.13, rh=100.0)
    Fd = ar.calc(t=10.0, P=1015.13, rh=80.0)
    Fd = ar.calc(t=10.0, P=1015.13, rh=60.0)
    Fd = ar.calc(t=10.0, P=1015.13, rh=0.0)
    Fd = ar.calc(t=10.0, P=1015.13, rh=20.0)
    Fd = ar.calc(t=5.0, P=1015.13, rh=20.0)

In [ ]:
if False:
    Fds = []
    for r in w:
        ts, t, rh, vp, ap, ah = r
        Fd = ar.calc(t=t, P=100*vp, rh=rh)
        Fds.append(Fd)

In [ ]:
if False:
    w_np = np.array(w)
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=w_np[:, 0], y=w_np[:, 6]))
    fig.show()

In [55]:
city2pref = {
   "札幌": "Hokkaido", # 北海道
   "青森": "Aomori", # 青森
   "盛岡": "Iwate", # 岩手
   "仙台": "Miyagi", # 宮城
   "秋田": "Akita", # 秋田
   "山形": "Yamagata", # 山形
   "福島": "Fukushima", # 福島
   "水戸": "Ibaraki", # 茨城
   "宇都宮": "Tochigi", # 栃木
   "前橋": "Gunma", # 群馬
   "秩父": "Saitama", # 埼玉
   "千葉": "Chiba", # 千葉
   "東京": "Tokyo", # 東京
   "横浜": "Kanagawa", # 神奈川
   "新潟": "Niigata", # 新潟
   "富山": "Toyama", # 富山
   "金沢": "Ishikawa", # 石川
   "福井": "Fukui", # 福井
   "甲府": "Yamanashi", # 山梨
   "長野": "Nagano", # 長野
   "岐阜": "Gifu", # 岐阜
   "静岡": "Shizuoka", # 静岡
   "名古屋": "Aichi", # 愛知
   "津": "Mie", # 三重
   "彦根": "Shiga", # 滋賀
   "京都": "Kyoto", # 京都
   "大阪": "Osaka", # 大阪
   "神戸": "Hyogo", # 兵庫
   "奈良": "Nara", # 奈良
   "和歌山": "Wakayama", # 和歌山
   "松江": "Tottori", # 島根
   "鳥取": "Shimane", # 鳥取
   "岡山": "Okayama", # 岡山
   "広島": "Hiroshima", # 広島
   "山口": "Yamaguchi", # 山口
   "徳島": "Tokushima", # 徳島
   "高松": "Kagawa", # 香川
   "松山": "Ehime", # 愛媛
   "高知": "Kochi", # 高知
   "福岡": "Fukuoka", # 福岡
   "佐賀": "Saga", # 佐賀
   "長崎": "Nagasaki", # 長崎
   "熊本": "Kumamoto", # 熊本
   "大分": "Oita", # 大分
   "宮崎": "Miyazaki", # 宮崎
   "鹿児島": "Kagoshima", # 鹿児島
   "那覇": "Okinawa" # 沖縄
}

In [49]:
u = "https://www.data.jma.go.jp/obd/stats/data/mdrr/synopday/data2.html"
dfs = pd.read_html(u)

In [52]:
pop_inf = get_populations()

All population in Japan: 127094745

In [58]:
data = np.zeros((1,47))
for df in dfs:
    if len(df.columns) == 21:
        for i, row in df.iterrows():
            if row[0] in city2pref:
                prefname = city2pref[row[0]]
                print(pop_inf[prefname]['code'], row[0], prefname)
                print(row[1:])

1 札幌 Hokkaido
1     1027.4
2     1030.8
3        4.3
4        9.2
5       -0.2
6         71
7         54
8        2.5
9        4.1
10       東南東
11       5.9
12        南東
13       8.8
14        --
15        --
16        --
17        --
18         3
19       NaN
20       NaN
Name: 3, dtype: object
2 青森 Aomori
1     1031.3
2     1031.8
3        6.0
4       13.3
5        0.3
6         74
7         47
8        2.2
9        3.8
10        南西
11       6.9
12        南西
13       8.2
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 25, dtype: object
5 秋田 Akita
1     1029.5
2     1032.3
3        6.5
4       12.4
5        1.8
6         74
7         48
8        3.4
9        5.6
10        南東
11       8.2
12        南東
13       4.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 29, dtype: object
3 盛岡 Iwate
1     1014.3
2     1034.0
3        2.2
4       10.2
5       -3.4
6         80
7         50
8        1.8
9        4.5
10       南南東
11       7.1
12         南
13       9.4
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 30, dtype: object
4 仙台 Miyagi
1     1028.0
2     1033.5
3        6.2
4       11.9
5        0.9
6         68
7         42
8       2.3)
9       4.2)
10      北北西)
11      6.1)
12      東南東)
13       9.7
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 33, dtype: object
6 山形 Yamagata
1     1014.4
2     1033.7
3        3.6
4       11.1
5       -1.5
6         83
7         48
8        0.9
9        1.9
10       東南東
11       4.0
12        北東
13       6.5
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 3, dtype: object
7 福島 Fukushima
1     1025.2
2     1033.9
3        4.7
4       11.7
5       -1.0
6         79
7         46
8        1.0
9        2.6
10        北東
11       4.3
12       北北東
13       9.4
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 6, dtype: object
8 水戸 Ibaraki
1     1029.2
2     1033.1
3        7.9
4       14.1
5        1.8
6         72
7         46
8        1.7
9        3.1
10       東北東
11       5.9
12       東南東
13       8.5
14        --
15        --
16        --
17       --)
18       --)
19       NaN
20       NaN
Name: 10, dtype: object
9 宇都宮 Tochigi
1     1015.8
2     1033.2
3        8.2
4       13.6
5        1.9
6         67
7         45
8        2.1
9        4.2
10       北北東
11       5.4
12       南南西
13       6.8
14        --
15        --
16       --)
17       --)
18        --
19       NaN
20       NaN
Name: 12, dtype: object
10 前橋 Gunma
1     1019.2
2     1033.3
3        7.7
4       13.8
5        3.3
6         66
7         45
8        2.1
9        3.6
10       北北西
11       6.9
12        北西
13       6.7
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 14, dtype: object
11 秩父 Saitama
1     1004.5
2     1033.5
3        6.1
4      13.2)
5       1.4)
6         83
7        53)
8        1.0
9        3.4
10       東南東
11       5.2
12       東南東
13       8.2
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 16, dtype: object
13 東京 Tokyo
1     1029.7
2     1032.7
3       10.2
4      13.1)
5       6.2)
6         63
7        52)
8       2.2)
9       3.9)
10       北西)
11      6.5)
12       北西)
13      0.5)
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 17, dtype: object
12 千葉 Chiba
1     1031.7
2     1032.5
3       10.3
4       13.5
5        7.2
6         58
7         51
8        2.6
9        4.7
10         北
11       8.3
12         北
13       0.2
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 23, dtype: object
14 横浜 Kanagawa
1     1027.2
2     1032.4
3       10.7
4       13.4
5        7.8
6         61
7         51
8        3.4
9        6.4
10         北
11       9.7
12         北
13       0.8
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 27, dtype: object
20 長野 Nagano
1      981.1
2     1032.4
3        5.9
4       13.8
5       -0.7
6         77
7         45
8        1.6
9        4.7
10       西南西
11       7.7
12         西
13       7.5
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 28, dtype: object
19 甲府 Yamanashi
1      997.7
2     1032.0
3        9.4
4       15.7
5        2.9
6         70
7         43
8        1.1
9        2.7
10        南西
11       4.4
12        南西
13       9.4
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 33, dtype: object
22 静岡 Shizuoka
1     1028.8
2     1030.7
3       13.3
4       17.2
5        9.5
6         63
7         46
8        2.9
9        5.2
10       東北東
11       9.9
12        北東
13       7.3
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 3, dtype: object
23 名古屋 Aichi
1     1023.2
2     1030.1
3       12.8
4       18.3
5        8.7
6         62
7         42
8        1.9
9        4.4
10       北北西
11       6.6
12         北
13       6.7
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 10, dtype: object
21 岐阜 Gifu
1     1028.2
2     1030.3
3       12.6
4       18.2
5        8.1
6         58
7         38
8        1.3
9        2.8
10       北北西
11       4.2
12         西
13       5.9
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 12, dtype: object
24 津 Mie
1     1028.1
2     1030.3
3       13.2
4      16.4)
5      10.1)
6         58
7        41)
8        1.5
9        2.8
10       東北東
11       3.9
12        北東
13       6.9
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 14, dtype: object
15 新潟 Niigata
1     1031.1
2     1031.8
3        8.5
4       13.8
5        3.7
6         71
7         42
8        1.9
9        5.2
10       東南東
11       7.5
12        南東
13       9.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 18, dtype: object
16 富山 Toyama
1     1028.6
2     1030.7
3        9.1
4      15.2)
5       3.6)
6         79
7        54)
8       2.0)
9       3.3)
10       南西)
11      4.8)
12      北北東)
13       9.7
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 21, dtype: object
17 金沢 Ishikawa
1     1026.2
2     1030.4
3       10.4
4       16.6
5        5.2
6         69
7         42
8        2.0
9        4.7
10         東
11       6.6
12       東北東
13       9.1
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 23, dtype: object
18 福井 Fukui
1     1028.3
2     1030.4
3       10.0
4       16.9
5        4.9
6         80
7         52
8        1.8
9        3.5
10       南南西
11       5.3
12         北
13       7.8
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 25, dtype: object
25 彦根 Shiga
1     1019.0
2     1030.4
3       11.0
4       15.9
5        7.2
6         75
7         53
8        1.3
9        2.8
10       北北西
11       4.0
12        北西
13       5.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 27, dtype: object
26 京都 Kyoto
1     1023.7
2     1030.1
3       11.5
4       18.3
5        5.9
6         69
7         46
8        1.2
9        3.2
10       東北東
11       5.5
12         東
13       4.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 28, dtype: object
27 大阪 Osaka
1     1019.6
2     1029.7
3       12.9
4       19.2
5        7.9
6         65
7         46
8       2.2)
9        4.0
10       北北東
11       5.9
12       北北東
13       7.9
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 30, dtype: object
28 神戸 Hyogo
1     1026.0
2     1029.7
3       13.3
4       18.1
5        8.1
6         64
7         42
8        2.6
9        6.0
10       東北東
11       7.4
12       東北東
13       8.2
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 31, dtype: object
29 奈良 Nara
1     1017.1
2     1029.8
3       11.5
4       19.7
5        5.1
6         75
7         47
8        1.6
9        5.1
10         東
11       8.8
12         東
13       8.2
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 3, dtype: object
30 和歌山 Wakayama
1     1027.2
2     1029.5
3       11.9
4       17.1
5        6.8
6         70
7         47
8        2.4
9        4.5
10        北西
11       6.4
12        北西
13       8.4
14       0.0
15       0.0
16       0.0
17        --
18        --
19       NaN
20       NaN
Name: 4, dtype: object
33 岡山 Okayama
1     1029.4
2     1030.3
3       10.2
4       16.9
5        4.4
6         75
7         44
8        1.3
9        3.3
10        北東
11       4.5
12        北東
13       9.9
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 6, dtype: object
34 広島 Hiroshima
1     1023.2
2     1029.8
3       12.1
4       18.2
5        7.4
6         58
7         38
8        3.6
9        7.2
10       北北東
11       8.8
12       北北東
13       9.9
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 8, dtype: object
31 松江 Tottori
1     1027.1
2     1029.8
3       10.7
4       16.8
5        5.6
6         80
7         52
8        1.6
9        5.5
10       東北東
11       8.9
12       東北東
13      10.0
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 11, dtype: object
32 鳥取 Shimane
1     1028.1
2     1030.1
3       10.4
4       18.1
5        4.7
6         80
7         49
8        2.5
9        5.0
10       東南東
11       6.1
12       北北西
13       9.7
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 14, dtype: object
37 高松 Kagawa
1     1028.7
2     1030.0
3       11.8
4       16.6
5        7.4
6         73
7         46
8        1.7
9        3.7
10         東
11       5.7
12         東
13       9.1
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 17, dtype: object
36 徳島 Tokushima
1     1028.9
2     1029.7
3       12.9
4       16.7
5        9.0
6         69
7         51
8        2.1
9        3.7
10       西北西
11       5.7
12       西北西
13       7.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 19, dtype: object
38 松山 Ehime
1     1024.8
2     1029.0
3       13.0
4       18.9
5        8.3
6         70
7         51
8        1.5
9        3.3
10        北東
11       4.9
12         西
13       9.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 20, dtype: object
39 高知 Kochi
1     1028.0
2     1028.6
3       14.3
4       21.0
5        7.5
6         67
7         40
8        1.4
9        2.5
10       西北西
11       4.1
12         西
13       9.3
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 22, dtype: object
35 山口 Yamaguchi
1     1027.1
2     1029.5
3       10.5
4       18.6
5        3.9
6         79
7         49
8        1.3
9        3.0
10        南西
11       5.3
12       南南西
13       9.8
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 26, dtype: object
40 福岡 Fukuoka
1     1026.8
2     1028.7
3       13.5
4       19.6
5        8.2
6         69
7         43
8       1.6)
9       4.4)
10      北北西)
11      6.3)
12      北北西)
13       9.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 29, dtype: object
44 大分 Oita
1     1027.5
2     1029.1
3       12.6
4       18.4
5        7.3
6         75
7         58
8        2.3
9        3.6
10         南
11       5.8
12       東北東
13       8.8
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 31, dtype: object
42 長崎 Nagasaki
1     1023.6
2     1028.0
3       13.8
4       20.0
5        9.0
6         69
7         49
8        1.5
9        3.0
10         北
11       4.8
12       北北西
13       9.0
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 33, dtype: object
41 佐賀 Saga
1     1024.4
2     1028.4
3       13.4
4       20.5
5        7.5
6         65
7         32
8        1.8
9        5.6
10       東北東
11       6.3
12       東北東
13      10.1
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 7, dtype: object
43 熊本 Kumamoto
1     1023.4
2     1028.2
3       13.5
4       20.9
5        7.4
6         69
7         38
8        1.4
9        3.0
10        南西
11       4.4
12       西南西
13      10.1
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 8, dtype: object
45 宮崎 Miyazaki
1     1026.4
2     1028.2
3       13.3
4       20.2
5        6.9
6         82
7         51
8        2.9
9        4.4
10        北西
11       6.7
12         東
13       9.6
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 11, dtype: object
46 鹿児島 Kagoshima
1     1023.6
2     1027.4
3       16.7
4       22.3
5       11.5
6         64
7         38
8        2.8
9        5.7
10       北北東
11       9.0
12       北北東
13      10.1
14        --
15        --
16        --
17        --
18        --
19       NaN
20       NaN
Name: 15, dtype: object
47 那覇 Okinawa
1     1015.6
2     1021.4
3       22.8
4       25.9
5       21.3
6         72
7         57
8        6.1
9       10.3
10       東北東
11      15.4
12         東
13       0.4
14       6.5
15       2.5
16       1.0
17       NaN
18       NaN
19       NaN
20       NaN
Name: 22, dtype: object

All population in Japan: 127094745

In [44]:
#for k, v in city2pref.items():
#    print(k, x[v]['code'])